<div class="container-fluid">
    <div class="thumbContainer">
        <br>
        <br>
        <img src={{playerImage}} alt="Image of " class="thumbnail">
    </div>

    <div>
        <h6>Players:</h6>
        <table border="0" class="pull-left table table-condensed playerInfo">
            <tr ng-repeat="propertyObj in propertiesArr">
                <td> {{propertyObj.propertyName}} </td>
                <td> {{propertyObj.propertyValue}} </td>
            </tr>
        </table>
    </div>
</div>