<div class="container-fluid" ng-controller="BlogController">

    <div class="responsive">
        <br>
        <br>
        <h6>Users</h6>
        <table border="0" class="pull-left table table-condensed">

            <tr ng-repeat="userObj in usersArrAdmin">
                <td>
                    <p> <a href ng-click="otherProfileRender(userObj.username)"> {{userObj.username}} </a></p>
                    <br>
                </td>
                <td>
                    <div>
                        <a href ng-click="removeUserAdmin(userObj, $index)" data-toggle="tooltip" title="Remove User" id="deleteUser"> <span class="glyphicon glyphicon-remove-sign"></span> </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>



    <table border="0" class="pull-left table table-condensed">

        <tr ng-repeat="blogObj in blogsArrAdmin">
            <td>
                <u><h6>{{blogObj.title}}</h6></u>
                <small> By <a href ng-click="otherProfileRender(blogObj.username)"> {{blogObj.username}} </a></small>
                <p>{{blogObj.content}}</p>
                <br>
            </td>
            <td>
                <div>
                    <a href ng-click="deleteBlogAdmin(blogObj, $index)" data-toggle="tooltip" title="Delete Blog" id="deleteBlog"> <span class="glyphicon glyphicon-trash"></span> </a>
                </div>
            </td>
        </tr>
    </table>


</div>