<div class="container-fluid" ng-controller="BlogController">

    <div class="responsive">
        <br>
        <br>
        <h3>ADMIN - Manage Blogs</h3>
        <table id="albums" border="0" class="pull-left table table-condensed">

            <tr ng-repeat="blogObj in blogsArrAdmin">
                <td bgcolor="#F5EEF8">
                    <u><h6>{{blogObj.title}}</h6></u>
                    <small> By <a href ng-click="otherProfileRender(blogObj.username)"> {{blogObj.username}} </a></small>
                    <a href ng-click="deleteBlogAdmin(blogObj, $index)" data-toggle="tooltip" title="Delete Blog" id="deleteBlog"> <span class="glyphicon glyphicon-trash"></span> Delete Blog </a>
                    <p>{{blogObj.content}}</p>
                    <br>
                </td>
            </tr>
        </table>
    </div>


</div>