<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="pull-left"><img src="app_logo.JPG"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">

            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                <input ng-model="searchedItem" type="text" class="form-control" placeholder="Search..."/>
                <span class="input-group-addon">
                    <a class="glyphicon glyphicon-search" ng-click="search(searchedItem,leagueItem)"></a>
                </span>
                </div>
                <div class="dropdown">
                    <select ng-model="leagueItem" class="form-control">
                        <option value="" disabled="disabled" selected="selected">Please select the league . . .</option>
                        <option value="NBA">NBA</option>
                        <option value="NFL">NFL</option>
                        <option value="Soccer">Soccer</option>
                        <option value="MLB">MLB</option>
                    </select>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-center">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">NFL <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">New England Patriots</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Green Bay Packers</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Dallas Cowboys</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Seattle Seahawks</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Pittsburgh Steelers</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">NBA <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Boston Celtics</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Detroit Pistons</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Miami Heat</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Golden State Warriors</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Indiana Pacers</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> SOCCER <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">AC Milan</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Manchester United</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Paris St Germain</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">FC Barcelona</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Borussia Dortmund</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> MLB <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Boston Red Sox</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">New York Yankees</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">LA Dodgers</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">Chicago White Sox</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse">San Francisco Giants</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!currentUser" ng-class="{'active': location.url() == '/register'}">
                    <a href="#/register" class="hidden-xs">Register</a>
                    <a href="#/register" data-toggle="collapse" data-target=".navbar-collapse" class="visible-xs">Register</a>
                </li>
                <li ng-show="!currentUser" ng-class="{'active': location.url() == '/login'}">
                    <a href="#/login" class="hidden-xs">Login</a>
                    <a href="#/login" data-toggle="collapse" data-target=".navbar-collapse" class="visible-xs">Login</a>
                </li>
                <li ng-show="currentUser" ng-class="{'active': location.url() == '/profile'}">
                    <a href="#/profile" class="hidden-xs">{{currentUser.username}}</a>
                    <a href="#/profile" data-toggle="collapse" data-target=".navbar-collapse" class="visible-xs">{{currentUser.username}}</a>
                </li>
                <li ng-show="currentUser">
                    <a href="#" class="hidden-xs" ng-click="logout()">Logout</a>
                    <a href="#" ng-click="logout()" data-toggle="collapse" data-target=".navbar-collapse" class="visible-xs">Logout</a>
                </li>
                <li ng-show="currentUser && currentUser.roles.indexOf('admin') >= 0" ng-class="{'active': location.url() == '/admin'}">
                    <a href="#/admin" class="hidden-xs">Admin</a>
                    <a href="#/admin" data-toggle="collapse" data-target=".navbar-collapse" class="visible-xs">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>