<div class="container-fluid" ng-controller="BlogController">

    <div class="responsive">
        <br>
        <br>
        <div ng-show="message" class="alert alert-info">{{message}}</div>
        <a href ng-show="currentUser" ng-click="fetchBlogsForUser()" class="btn btn-default">View My Blogs</a>
        <a href ng-click="viewAllBlogs()" class="btn btn-default">View All Blogs</a>
        <a href ng-show="currentUser" ng-click="blogWrite = true" class="btn btn-default">Write a Blog</a>

        <div ng-show="blogWrite">
            <input ng-model="blog.blogName" class="form-control" placeholder="Title">
            <textarea ng-model="blog.blogContent" class="form-control" rows="5" placeholder="Write your blog here..."></textarea>
            <a href ng-click="submitBlog(blog)" class="btn btn-default"> Submit Blog </a>
            <a href ng-click="cancelBlog()" class="btn btn-default"> Cancel </a>
        </div>

        <table border="0" class="pull-left table table-condensed">

            <tr ng-repeat="blogObj in blogsArr">
                <td>
                    <u><h6>{{blogObj.title}}</h6></u>
                    <small> By {{blogObj.username}}</small>
                    <p>{{blogObj.content}}</p>
                    <br>
                </td>
                <td>
                    <div>
                        <a href ng-click="editBlog(blogObj)" data-toggle="tooltip" title="Edit Blog" id="editBlog"> <span class="glyphicon glyphicon-pencil"></span> </a>
                        <a href ng-click="deleteBlog(blogObj, $index)" data-toggle="tooltip" title="Delete Blog" id="deleteBlog"> <span class="glyphicon glyphicon-trash"></span> </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>