<div class="container-fluid">
    <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-2 thumbContainer">
            <img src={{mainImage}} alt="Image of " class="thumbnail">
        </div>

        <div class="col-lg-9 col-md-8 col-sm-6 col-md-offset-2">
            <h6>Team Information: </h6>
            <table border="0" class="pull-left table table-condensed playerInfo">

                <tr ng-repeat="propertyObj in propertiesArr">
                    <td> {{propertyObj.propertyName}} </td>
                    <td> {{propertyObj.propertyValue}} </td>
                </tr>
            </table>

            <h6>Players:</h6>
            <table border="0" class="pull-left table table-condensed playerInfo">
                <tr ng-repeat="playerObj in playersArr">
                    <td> {{playerObj.playerFullName}} </td>
                    <td> {{playerObj.playerPosition}} </td>
                </tr>
            </table>
        </div>
    </div>

</div>