<div class="container-fluid" ng-controller="SearchController">
    <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-2 thumbContainer">
            <img src="Milan-Duomo.jpg" alt="Image of " class="thumbnail">
        </div>

        <div class="col-lg-9 col-md-8 col-sm-6 col-md-offset-2">
            <table border="0" class="pull-left table table-condensed playerInfo">
                <tr>
                    <td class="b w-1p">Nickname:&nbsp;&nbsp;</td>
                    <td>N/A</td>
                    <td class="b w-1p">Position:&nbsp;&nbsp; </td>
                    <td>1B</td>
                </tr>
                <tr>
                    <td class="b">Home:</td>
                    <td>Cuba</td>
                    <td class="b">Team:&nbsp;&nbsp; </td>
                    <td>WHITE SOX</td>
                </tr>
                <tr>
                    <td class="b">Height:</td>
                    <td>6' 3"</td>
                    <td class="b">Bats:&nbsp;&nbsp;</td>
                    <td>R</td>
                </tr>
                <tr>
                    <td class="b">Weight:</td>
                    <td>255</td>
                    <td class="b">Throws:&nbsp;&nbsp;</td>
                    <td>R</td>
                </tr>
                <tr>
                    <td class="b">DOB:</td>
                    <td>1/29/1987</td>
                    <td class="b">Agent:</td>
                    <td>Barry Praver</td>
                </tr>
                <tr>
                    <td class="b">Uniform #:</td>
                    <td>79</td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="b">Birth City:</td>
                    <td colspan="3" class="whSp-normal">Cruces, Cienfuegos, Cuba</td>
                </tr>
                <tr>
                    <td class="b">Draft:</td>
                    <td colspan="3" class="whSp-normal">Cuba National team - 2003 - at age 17 </td>
                </tr>
            </table>
        </div>
    </div>

</div>