<div class="container-fluid col-md-offset-2">
    <br>
    <br>
    <br>
    <br>
    <h6>5 things we learned from Milan-Fiorentina</h6>
    <p>
        Milan actually won a game on Sunday night against a team higher in the standings. Like, scored more goals than the opposition, and won a game.

        I know right, unheard of! Anyway, Carlos Bacca opened the scoring with a beautifully taken chance in the first half, and then Kevin-Prince Boateng welcomed himself back to San Siro with a calmly taken goal.

        It was an uncharacteristically organised performance from the side and a welcome win to put us three points behind Roma in fifth place.
    </p>
    <br>
    <br>
    <h6>
        Who Would Rule NBA If 3-Point Revolution Never Happened?</h6>
    <p>
        The NBA is a significantly different animal than it was back in the 1980s, when the popularity of the three-point line was only starting to gain steam after its incorporation at the beginning of the 1979-80 season.
    </p>
</div>