<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header"> Forms  </h1>

            <div>&nbsp;</div>

            <div class="tab-content">
                <div class="form-group">
                    <label>Add New Field:</label>
                    <div class="row">
                        <div class="col-sm-8 col-xs-6 col-md-10">
                            <select ng-model="model.fieldType" class="form-control" id="inputAddNewField">
                                <option>Single Line Text</option>
                                <option>Date</option>
                                <option>Dropdown</option>
                                <option>Checkboxes</option>
                                <option>Radio buttons</option>
                                <option>Multi Line Text Field</option>
                            </select>
                        </div>
                        <div class="col-sm-4 col-xs-6 col-md-2">
                            <a ng-click="addField(model.fieldType)"> <span class="glyphicon glyphicon-plus"></span> </a>
                        </div>
                    </div>
                </div>

            </div>

            <br>

            <div ui-sortable ng-model="fields">
                <div class="form-group" ng-repeat="field in fields" >
                    <div class="row">
                        <div ng-switch on = "field.type">
                            <div class="col-sm-8 col-xs-6 col-md-10" ng-switch-when="TEXT">
                                <label>{{field.label}}</label>
                                <input type="text" class="form-control" placeholder={{field.placeholder}}>
                            </div>
                            <div class="col-sm-8 col-xs-6 col-md-10" ng-switch-when="TEXTAREA">
                                <label>{{field.label}}</label>
                                <input type="text" class="form-control" placeholder={{field.placeholder}}>
                            </div>
                            <div class="col-sm-8 col-xs-6 col-md-10" ng-switch-when="DATE">
                                <label>{{field.label}}</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-sm-8 col-xs-6 col-md-10" ng-switch-when="OPTIONS">
                                <label>{{field.label}}</label>
                                <select class="form-control">
                                    <option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-xs-6 col-md-10" ng-switch-when="CHECKBOXES">
                                <label>{{field.label}}</label>
                                <div ng-repeat="option in field.options">
                                    <label>
                                        <input type="checkbox" value="{{option.value}}">{{option.label}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-8 col-xs-6 col-md-10" ng-switch-when="RADIOS">
                                <label>{{field.label}}</label>
                                <div ng-repeat="option in field.options">
                                    <label>
                                        <input type="radio" value="{{option.value}}">{{option.label}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6 col-md-2">
                            <a ng-click="editField($index)" data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-pencil"></span> </a> <a ng-click=""> <span class="glyphicon glyphicon-plus"></span> </a>
                            <a ng-click="removeField($index)"> <span class="glyphicon glyphicon-remove"></span> </a> <a ng-click=""> <span class="glyphicon glyphicon-menu-hamburger"></span> </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal from w3 schools-->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" ng-model = "modalField">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{modalField.label}}</h4>
                        </div>
                        <div class="modal-body">
                            <div ng-switch on = "modalField.type">
                                <div ng-switch-when="TEXT">
                                    <label>Label</label>
                                    <input type="text" class="form-control" value="{{modalField.label}}">
                                    <label>Placeholder</label>
                                    <input type="text" class="form-control" value="{{modalField.placeholder}}">
                                </div>
                                <div ng-switch-when="TEXTAREA">
                                    <label>Label</label>
                                    <input type="text" class="form-control" value="{{modalField.label}}">
                                    <label>Placeholder</label>
                                    <input type="text" class="form-control" value="{{modalField.placeholder}}">
                                </div>
                                <div ng-switch-when="DATE">
                                    <label>Label</label>
                                    <input type="date" class="form-control">
                                </div>
                                <div ng-switch-when="OPTIONS">
                                    <label>Label</label>
                                    <input type="text" class="form-control" value="{{modalField.label}}">
                                    <label>Options:</label>
                                    <textarea class="form-control" rows="5">{{modalFieldOptions}}</textarea>
                                </div>
                                <div ng-switch-when="CHECKBOXES">
                                    <label>Label</label>
                                    <input type="text" class="form-control" value="{{modalField.label}}">
                                    <label>Options:</label>
                                    <textarea class="form-control" rows="5">{{modalFieldOptions}}</textarea>
                                </div>
                                <div ng-switch-when="RADIOS">
                                    <label>Label</label>
                                    <input type="text" class="form-control" value="{{modalField.label}}">
                                    <label>Options:</label>
                                    <textarea class="form-control" rows="5">{{modalFieldOptions}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-default" ng-click="" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
