<div class="container-fluid" ng-controller="FormController">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header"> Forms </h1>

            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Forms</a></li>
            </ul>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th> <span class="glyphicon glyphicon-triangle-bottom"></span> Form Name </th>
                    <th> <span class="glyphicon glyphicon-triangle-bottom"></span> Action </th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td> <input ng-model="form.formname" type="text" class="form-control" id="inputFormName" placeholder="name"> </td>
                    <td> <a ng-click="addForm(form)"> <span class="glyphicon glyphicon-plus"></span> </a> <a ng-click="updateForm(form)"> <span class="glyphicon glyphicon-ok"></span> </a> </td>
                </tr>
                <tr ng-repeat="form in currentFormsArr">
                    <td> <a href="#/form/{{form._id}}/fields"> {{form.title}} </a> </td>
                    <td> <a ng-click="deleteForm($index)"> <span class="glyphicon glyphicon-remove"></span> </a> <a ng-click="selectForm($index)"> <span class="glyphicon glyphicon-pencil"></span> </a> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
