<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="page-header">
                <h1> Welcome! </h1>
            </div>

            <p>
                Sed ultrices mauris quis sapien sollicitudin, nec eleifend libero iaculis.
                Suspendisse ultricies nulla eget mauris convallis, sit amet gravida nibh pellentesque.
                Nam urna nisi, iaculis ac placerat vitae, molestie quis risus. Integer et sapien varius,
                feugiat nisi condimentum, convallis est. Mauris ac nunc sed nulla placerat fermentum a vel neque.
                Etiam fermentum mi in risus tristique, id viverra purus lacinia. Aenean volutpat magna ut tortor
                hendrerit, non imperdiet lacus varius. Curabitur leo dui, efficitur a orci non, laoreet molestie quam.
                Aliquam gravida ut justo eget ornare. Praesent volutpat enim non imperdiet malesuada.
            </p>
        </div>
    </div>
</div>

